<button onclick="window.location='index.html'" disabled>Exercises Analysis</button>
    <button onclick="window.location='ex_analysis_bubble.html'">Exercises Difficulty</button>
    <button onclick="window.location='reading_time.html'">Reading Time</button>
    <button onclick="window.location='reading_time_module.html'">Reading Time /module</button>

    <div id="example" class="parcoords" style="height:450px;"></div>
    <div id="grid"></div>
    <div id="pager"></div>